:root {
  --color-bg: #046838;
  --color-text-main: #000000;
  --color-primary: #ffffff;
  --color-red: #ff0000;
  --color-green: #046838;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-v25-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Copperplate';
  src: url('fonts/CopperplateGothicStd-32AB.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Black.woff2') format('woff2');
  /* src: url("fonts/PlayfairDisplay-Regular.woff2") format('woff2'); */
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('fonts/PlayfairDisplaySC-Black.woff2') format('woff2');
  font-style: italic;
}

body {
  font-family: 'Montserrat';
  background-color: var(--color-green);
}

h1, h2 {
  font-family: 'Copperplate';
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  max-width: calc(100vw - 16px)
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.card {
  max-width: 350px;
  padding: 1.2rem;
  border-radius: 1.5rem;
  background-color: whitesmoke;
  box-shadow: 0 0 2rem 0.1rem lightgoldenrodyellow;
  font-size: large;
}
.divider {
  padding: 2rem;
  text-align: center;
  margin: auto 0;
}
.divider img {
  max-width: 10rem;
}
.comingsoon {
  max-width: 100%;
  max-height: calc(100vh - 5rem);
}

.centered {
  margin: 0 auto;
  text-align: center;
}
